* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
    font-size: 15px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.qrcode-card {
    background-color: #FFF;
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
}

.qrcode-card > img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.qrcode-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 131px;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 24px;
}

.qrcode-description > p {
    text-align: center;
}

.qrcode-description > h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    line-height: 120%;
}

.qrcode-description > p {
    color: hsl(216, 15%, 48%);
    line-height: 140%;
    letter-spacing: 0.2px;
}